@import "~antd/es/style/themes/default.less";


@background-color-base: #262626;
@body-background: #404041;
@border-color-base: rgba(255, 255, 255, 0.25);
@border-color-split: #363636;
@btn-default-bg: #262626;
@component-background: #171F22;
@layout-body-background: #363636;
@layout-header-background: #171F22;
@layout-sider-background: #171F22;
@layout-trigger-background: #313232;
@layout-trigger-color: fade(#fff, 80%);
@menu-dark-submenu-bg: #171F22;
@popover-bg: #262629;
@primary-color: #0A53B0;
@secondary-color: #ccc;
@text-color: #E3E3E3;
@heading-color: #FFF9F3;
@text-color-secondary: fade(#fff, 65%);
@processing-color: fade(@primary-color, 1%);
@table-expanded-row-bg:  #3b3b3b;
@table-header-bg:  #3a3a3b;
@table-row-hover-bg:  #3a3a3b;
@table-selected-row-bg:  #3a3a3a;

// @alert-message-color: "fade(#000, 67%)";
// @background-color-base: "#262626";
// @background-color-light: "fade(${blue[5]}, 40%)";
// @body-background: "#404041";
// @border-color-base: "rgba(255, 255, 255, 0.25)";
// @border-color-split: "#363636";
// @btn-default-bg: "#262626";
// @collapse-header-bg: "#262629";
// @component-background: "#171F22";
// @disabled-color: "rgba(255, 255, 255, 0.25)";
// @heading-color: "#E3E3E3";
// @highlight-color: "#a8071a";
// @info-color: "#313133";
// @input-bg: "#313133";
// @item-active-bg: "fade(#1890ff, 40%)";
// @item-hover-bg: "fade(#1890ff, 20%)";
// @layout-body-background: "#171717";
// @layout-header-background: "#171F22";
// @layout-sider-background: "#171F22";
// @layout-trigger-background: "#313232";
// @layout-trigger-color: "fade(#fff, 80%)";
// @menu-dark-submenu-bg: "#171F22";
// @popover-bg: "#262629";
// @primary-color: "#0A53B0";
// @table-expanded-row-bg: "#3b3b3b";
// @table-header-bg: "#3a3a3b";
// @table-row-hover-bg: "#3a3a3b";
// @table-selected-row-bg: "#3a3a3a";
// @tag-default-bg: "#262628";
// @text-color: "#E3E3E3";
// @text-color-secondary: "fade(#fff, 65%)";
// @wait-icon-color: "fade(#fff, 64%)";
// @warning-color: "#613400";