body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fancy-checkobx-wrapper {}
.fancy-checkobx-wrapper #fancy-checkox {
  opacity: 0;
  height: 0;
  width: 0;
}
.fancy-checkobx-wrapper .toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 50px;
  background: #211042;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}
.fancy-checkobx-wrapper .toggle-button {
  position: absolute;
  display: inline-block;
  top: 3.5px;
  left: 3px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #faeaf1;
  overflow: hidden;
  box-shadow: 0 0 18px 2px white;
  transition: all 300ms ease-out;
}
.fancy-checkobx-wrapper .crater {
  position: absolute;
  display: inline-block;
  background: #faeaf1;
  border-radius: 50%;
  transition: 300ms;
}
.fancy-checkobx-wrapper .crater-1 {
  background: #fffff9;
  width: 43px;
  height: 43px;
  left: 5px;
  bottom: 5px;
}
.fancy-checkobx-wrapper .crater-2 {
  width: 10px;
  height: 10px;
  top: -3.5px;
  left: 22px;
}
.fancy-checkobx-wrapper .crater-3 {
  width: 8px;
  height: 8px;
  top: 10px;
  right: -2px;
}
.fancy-checkobx-wrapper .crater-4 {
  width: 5px;
  height: 5px;
  top: 12px;
  left: 15px;
}
.fancy-checkobx-wrapper .crater-5 {
  width: 7.5px;
  height: 7.5px;
  top: 20px;
  left: 24px;
}
.fancy-checkobx-wrapper .crater-6 {
  width: 5px;
  height: 5px;
  top: 24px;
  left: 10px;
}
.fancy-checkobx-wrapper .crater-7 {
  width: 6px;
  height: 6px;
  bottom: 2.5px;
  left: 17.5px;
}
.fancy-checkobx-wrapper .star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 0 2px 2px white;
}
.fancy-checkobx-wrapper .star-1 {
  width: 3px;
  height: 3px;
  right: 45px;
  bottom: 20px;
}
.fancy-checkobx-wrapper .star-2 {
  width: 4px;
  height: 4px;
  right: 35px;
  top: 5px;
}
.fancy-checkobx-wrapper .star-3 {
  width: 2.5px;
  height: 2.5px;
  right: 30px;
  bottom: 7.5px;
}
.fancy-checkobx-wrapper .star-4 {
  width: 1.5px;
  height: 1.5px;
  right: 20px;
  bottom: 25px;
}
.fancy-checkobx-wrapper .star-5 {
  width: 2px;
  height: 2px;
  right: 5px;
  bottom: 17.5px;
}
.fancy-checkobx-wrapper .star-6,
.fancy-checkobx-wrapper .star-7,
.fancy-checkobx-wrapper .star-8 {
  width: 5px;
  height: 1px;
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px #fff;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.fancy-checkobx-wrapper .star-6 {
  right: 15px;
  bottom: 15px;
  animation-delay: -2s;
}
.fancy-checkobx-wrapper .star-7 {
  right: 25px;
  bottom: 30px;
}
.fancy-checkobx-wrapper .star-8 {
  right: 45px;
  top: 5px;
  animation-delay: -4s;
}
@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(35px);
  }
  50% {
    transform: rotate(-45deg) translateX(-10px);
    box-shadow: 5px 0px 6px 1px #fff;
  }
  100% {
    transform: rotate(-45deg) translateX(-15px);
    width: 1px;
    height: 1px;
    opacity: 0;
    box-shadow: none;
  }
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle {
  background: #24d7f7;
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .toggle-button {
  background: #f7ffff;
  transform: translateX(51px);
  box-shadow: 0 0 35px 5px white;
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(35px);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star {
  animation: move 1.5s infinite;
  transform: none;
  box-shadow: none;
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-1 {
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background: #fff;
  left: 10px;
  top: 12.5px;
  box-shadow: none;
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-2 {
  width: 6px;
  height: 6px;
  background: #fff;
  left: 13px;
  top: 11.5px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-3 {
  width: 8px;
  height: 8px;
  background: #fff;
  left: 17.5px;
  top: 9.5px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-4 {
  width: 7px;
  height: 7px;
  background: #fff;
  left: 23px;
  top: 10.5px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-5 {
  width: 20px;
  height: 7.5px;
  border-radius: 7.5px;
  background: #fff;
  left: 15px;
  bottom: 10px;
  box-shadow: none;
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-6 {
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  left: 38px;
  bottom: 25px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-7 {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  left: 26px;
  bottom: 10px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-8 {
  width: 10.5px;
  height: 10.5px;
  background: #fff;
  border-radius: 50%;
  left: 35px;
  top: 29.5px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
@keyframes move {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(-1px);
  }
}
.fancy-checkobx-wrapper p {
  font-weight: bold;
  
}
.fancy-checkobx-wrapper p.morning {
  background: #e67e22;
}