body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fancy-checkobx-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fancy-checkobx-wrapper #fancy-checkox {
  opacity: 0;
  height: 0;
  width: 0;
}
.fancy-checkobx-wrapper .toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 100px;
  background: #211042;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}
.fancy-checkobx-wrapper .toggle-button {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 6px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: #faeaf1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px white;
  transition: all 500ms ease-out;
}
.fancy-checkobx-wrapper .crater {
  position: absolute;
  display: inline-block;
  background: #faeaf1;
  border-radius: 50%;
  transition: 500ms;
}
.fancy-checkobx-wrapper .crater-1 {
  background: #fffff9;
  width: 86px;
  height: 86px;
  left: 10px;
  bottom: 10px;
}
.fancy-checkobx-wrapper .crater-2 {
  width: 20px;
  height: 20px;
  top: -7px;
  left: 44px;
}
.fancy-checkobx-wrapper .crater-3 {
  width: 16px;
  height: 16px;
  top: 20px;
  right: -4px;
}
.fancy-checkobx-wrapper .crater-4 {
  width: 10px;
  height: 10px;
  top: 24px;
  left: 30px;
}
.fancy-checkobx-wrapper .crater-5 {
  width: 15px;
  height: 15px;
  top: 40px;
  left: 48px;
}
.fancy-checkobx-wrapper .crater-6 {
  width: 10px;
  height: 10px;
  top: 48px;
  left: 20px;
}
.fancy-checkobx-wrapper .crater-7 {
  width: 12px;
  height: 12px;
  bottom: 5px;
  left: 35px;
}
.fancy-checkobx-wrapper .star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 0 2px 2px white;
}
.fancy-checkobx-wrapper .star-1 {
  width: 6px;
  height: 6px;
  right: 90px;
  bottom: 40px;
}
.fancy-checkobx-wrapper .star-2 {
  width: 8px;
  height: 8px;
  right: 70px;
  top: 10px;
}
.fancy-checkobx-wrapper .star-3 {
  width: 5px;
  height: 5px;
  right: 60px;
  bottom: 15px;
}
.fancy-checkobx-wrapper .star-4 {
  width: 3px;
  height: 3px;
  right: 40px;
  bottom: 50px;
}
.fancy-checkobx-wrapper .star-5 {
  width: 4px;
  height: 4px;
  right: 10px;
  bottom: 35px;
}
.fancy-checkobx-wrapper .star-6,
.fancy-checkobx-wrapper .star-7,
.fancy-checkobx-wrapper .star-8 {
  width: 10px;
  height: 2px;
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px #fff;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.fancy-checkobx-wrapper .star-6 {
  right: 30px;
  bottom: 30px;
  animation-delay: -2s;
}
.fancy-checkobx-wrapper .star-7 {
  right: 50px;
  bottom: 60px;
}
.fancy-checkobx-wrapper .star-8 {
  right: 90px;
  top: 10px;
  animation-delay: -4s;
}
@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(70px);
  }
  50% {
    transform: rotate(-45deg) translateX(-20px);
    box-shadow: 5px 0px 6px 1px #fff;
  }
  100% {
    transform: rotate(-45deg) translateX(-30px);
    width: 2px;
    height: 2px;
    opacity: 0;
    box-shadow: none;
  }
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle {
  background: #24d7f7;
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .toggle-button {
  background: #f7ffff;
  transform: translateX(102px);
  box-shadow: 0 0 35px 5px white;
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(70px);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-1 {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  left: 20px;
  top: 25px;
  box-shadow: none;
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-2 {
  width: 12px;
  height: 12px;
  background: #fff;
  left: 26px;
  top: 23px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-3 {
  width: 16px;
  height: 16px;
  background: #fff;
  left: 35px;
  top: 19px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-4 {
  width: 14px;
  height: 14px;
  background: #fff;
  left: 46px;
  top: 21px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-5 {
  width: 60px;
  height: 15px;
  border-radius: 15px;
  background: #fff;
  left: 30px;
  bottom: 20px;
  box-shadow: none;
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-6 {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  left: 38px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-7 {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  left: 52px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
.fancy-checkobx-wrapper #fancy-checkox:checked + .toggle .star-8 {
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
  left: 70px;
  top: 59px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
@keyframes move {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}
.fancy-checkobx-wrapper p {
  text-align: center;
  letter-spacing: 15px;
  background: #34495e;
  color: #fff;
}
.fancy-checkobx-wrapper p.morning {
  background: #e67e22;
}